<div class="container container-fluid">
<div id="about" class="jumbotron effect4 wow wobble animated">
    <div class="row container">
        <div class="col-md-8">
            <article>
                <h1>A9_Software</h1>
                <p>Is a software company that will design and develops most advanced Websites, where people can do their online shopping ,socialize with their friends and family from all over the globe.</p>
            </article>
        </div>
        <div class="col-sm-4">
            <p><img src="../../images/Images/blue-pencil-psd-icon.jpg" width="300" height="200" /></p>
        </div>
        
    </div>
</div>
    </div>
<style>
    h1, p {
        font-family: 'Times New Roman';
        font-size: x-large;
    }
    #about{
        margin-top:100px;
    }
</style>


