
    <div id="ContactUs" class="container container-fluid">
        <div class="row">
            <div class="col-md-5 wow tada animated">
                <div class="panel panel-primary effect4">
                    <div class="panel-heading">
                      <h1><span id="contact" class="fa fa-envelope-square"> ContactUS</span></h1>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Unit Number:- #172</li>
                            <li>889-Mowry Avenue </li>
                            <li>Fremont</li>
                            <li>California</li>
                            <li> United States Of America</li>
                            <li>ZIPCODE:- 94536</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style scoped>
    li{
        list-style-type:none;
        font-family:'Times New Roman';
        font-size:x-large;
        text-align:center;
    }
   h1{
      font-family:'Times New Roman';
        font-size:xx-large;
        text-align:center;        
    }
    .fa-envelope-square{
        font-size:xx-large;
        text-align:center;
    }
    #ContactUs{
        margin-top:30px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ContactUs").css('margin-top', 50);
    })
</script>